html{
  background: url('assets/png.png');
}
canvas {
  background: black;
  box-shadow: 0px 0px 5px #000;
  border-radius: 11px;
  diplay: block;
  width: 900px;
  margin: 2em auto;
  padding: 0;
  margin: 5em auto;
}
#wrapper{
  margin:20px auto;
  width:800px
}
