html{
  background: url('assets/png.png');
}
canvas {
  background: black;
  box-shadow: 0px 0px 5px #000;
  border-radius: 11px;
  diplay: block;
  width: 900px;
  margin: 2em auto;
  position:absolute;
  top:125px;
  left:320px;
  padding: 0;
}
